##**Условие 1:**
Оформляйте ноутбук, используя эти советы:

Номер задачи - заголовок 2

Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

##**Условие 2:**
На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [23]:
def total_fruits(**kwargs):
    total = sum(kwargs.values())
    return f'Всего фруктов: {total}'

In [24]:

total_fruits(pear=5, kiwi=7, apple=8, peach=10)

'Всего фруктов: 30'

##**Условие 3:**
Дан список с затратами на рекламу.
Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.

Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [3]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]
total_costs = sum([i for i in costs if i > 0])
total_costs

1425

##**Условие 4:**

Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

###**4.1**
Найдите, какая выручка у компании в ноябре Используйте list comprehensions

In [26]:
purchase_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
                '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
                '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
                '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
                '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',
                '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchase_amounts = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701,
                4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004,
                2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [27]:
# Создаем список пар (дата, сумма), только для ноября
november_purchases = [(date, amount) for date, amount in zip(purchase_dates, purchase_amounts) if date.startswith('2021-11')]

# Считаем общую выручку за ноябрь
total_revenue_november = sum([amount for _, amount in november_purchases])

print(f'Выручка компании в ноябре: {total_revenue_november}')

Выручка компании в ноябре: 25098

###**4.2**
Найдите выручку компании в зависимости от месяца.
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [31]:
def calculate_revenue_by_month(dates: list, amounts: list) -> dict:
    revenue_by_month = {date[:7]: 0 for date in dates}  # Инициализация словаря с ключами-месяцами

    # Вычисление выручки по месяцам
    for date, amount in zip(dates, amounts):
        month = date[:7]
        revenue_by_month[month] += amount

    return revenue_by_month

In [30]:
revenue_by_month = calculate_revenue_by_month(purchase_dates, purchase_amounts)

print("Выручка компании по месяцам:")
for month, revenue in revenue_by_month.items():
    print(month, ":", revenue)

Выручка компании по месяцам:
2021-09 : 25647
2021-12 : 45452
2021-10 : 28645
2021-11 : 25098